* {
    margin: 0;
    padding: 0;
    }
img { 
    display: block 
}
.klasadlaheadera {
    border-bottom: 1px solid #e7e9fc
}
.kontener {
    display: flex;
    gap: 332px;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    border-top: none;
}
.klasanav {
    display: flex;
    align-items: center; 
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
}
.logo link {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}
.spanone {
    color:#2e2f42;

}
.firstlink {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
    text-decoration: none;
    display: flex; 
    gap: 40px;
    padding: 24px 0;
}
.firstlink:focus {
    color: #404bbf;
}
.firstlink:hover {
    color: #404bbf;
}
.list {
    list-style: none;
    display: flex;
    gap: 24px;
    justify-content: center;
    
}
.menu {
    gap: 40px;
}
.link-one link  {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}
.link-one link:hover {
    color:#404bbf;
}
.link-one link:focus {
    color:#404bbf;
}
.list {
    font-style: normal

}
.firstsectionportfolio {
    padding-top:96px; 
    padding-bottom: 120px;
}
.headerone {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    font-family: "Roboto", sans-serif;
    color: var(--sectionn-heading-color);
    background-color: var(--background-color)
}
:root {
    --background-color:#FFFFFF;
    --logo-main-color:#4d5ae5;
    --background-color-section: #232f42;
    --sectionn-heading-color:#434455;
    --footer-color: #F4F4FD;
    --link-hover-focus: #404bbf;
    --color:var(--color:#2E2F42;)

}
.przycisk {
    color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color:#F4F4FD ;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px; 
}
.przycisk:hover {
    background-color: #404BBF;
    color:#FFFFFF;
    border: 1px solid transparent;
}
.przycisk:focus {
    background-color: #404BBF;
    color: #FFFFFF;
    border: 1px solid transparent
}
.headertwo {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}
.classp {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.headerthree {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}

.fklasa {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
}
.highlight {
    line-height: 1.5;
    color:#f4f4fd;
    letter-spacing: 0.02em;
}
.akapit {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.page-footer {
    background-color:#2e2f42;
    padding: 100px 0;

}
.sectionone {
   background-color: #2e2f42;
   padding: 188px 0;
   }
.naglowekhtml {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}
.buttonone {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block; 
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
}
.buttonone:focus {
    background-color: #404BBF;
}
.buttonone:hover {
    background-color: #404BBF;
}
.sectiontwo {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.sectiontwoa {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;   
}

.sectionthree {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.sectionfour {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.sectionfourcolor {
    background-color: #F4F4FD; 
    padding: 120px 0;
}
.headersectionfour {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center; 
    margin-bottom: 8px;
}
.plistfour {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color:#FFFFFF;
    text-align: center;
}
.link {
    text-decoration: none;
    display: inline-block;
}
.adressclass {
    padding: 24px 0;
    font-style: normal;

}
.headerindex {
    font-weight: 500; 
    font-size: 20px; 
    line-height: 1.2; 
    letter-spacing: 0.02em; 
    color: #2E2F42;
    margin-bottom: 8px; 
}
.classli {
    background-color:#FFFFFF;
    width: calc((100% - 48px) / 3);
    border-radius: 0px 0px 4px 4px;
}
.info {
    font-size: 16px;
     line-height: 1.5; 
     letter-spacing: 0.02em;
      color: #434455
}
.info:hover {
    color: #404BBF
}
.info:focus {
    color: #404BBF
}
.firstpoint {
    width: calc((100% - 72px) / 4); 

}
.section {
    padding: 120px 0;
}
.sectionpadding {
    padding-bottom: 120px
}
.display {
    display:flex; 
    flex-wrap: wrap;
    row-gap: 48px;
}
.lasss {
    padding: 32px 0px;
    
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.liiclass {
    width: calc((100% - 48px) / 3);
}
.next {
    margin-bottom: 72px;
}
.lili {
    width: calc((100% - 48px) / 3);
}
.dddddd {
    background-color: #F4F4FD;
}
.lass {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top:none ;
}
.capp {
    margin-bottom: 16px;
}